<!--hero image container-->
<div class="hero-container">
  <img class="hero-image">
  <h1 class="hero-text">Best service</h1> 
  <h2 class="hero-subtext">best on reliance</h2> 
  <button type="button" class="btn btn-primary btn-lg certificate-btn" (click)="openLicenceModal(licenceModal)"> Check Cerificates</button>
</div>

<ng-template #licenceModal let-modal>
  <div class="modal-header pt-2 pb-2 ps-3 pe-3">
    <h4 class="modal-title" id="modal-basic-title">Enter Licence No.</h4>
    <button type="button" class="btn-close" aria-label="Close" (click)="modal.dismiss('Cross click')"></button>
  </div>
  <div class="modal-body pt-4 pb-4 ps-3 pe-3">
    <form class="input-group" #licenceForm=ngForm (ngSubmit)="getCertificate(licenceForm); modal.close('closed modal')">
      <input class="form-control" type="text" name="licenceId" [(ngModel)]="licenceId">
      <button type="submit" class="btn btn-primary">Get Certificate</button>
    </form>
  </div>
</ng-template>

<!-- Image and about us container -->
<div class="container about-us">
  <div class="row">
    <div class="col-lg-6">
      <img class="side-image" src="/assets/images/diamond.jpg" alt="">
    </div>
    
    <div class="col-lg-6">
      <h1>Why choose us?</h1>
      <h4>All our laboratory gemologists are qualified with a high level of experience and integrity. The laboratory is equipped with the most modern analytical instruments to authenticate diamonds, colored gemstones, origins, and possible treatments that can be tested in the most scientific manner with objectivity.
        <br>
        <br>
        This ensures the integrity and accuracy of every report issued. SGL employs more than 475 talented women and men across 4 countries which makes them a team of international members working with an open-minded group that offers a diversified work environment & many interesting career perspectives.
      </h4>
    </div>
    
  </div>
</div>

<!-- services container -->
<section class="page-contain">
  <a class="data-card">
    <h3>WELL EQUIPPED</h3>
    <p>Our labs are well equipped with world class equipments and latest technology.</p>
  </a>

  <a class="data-card">
    <h3>PROFESSIONAL GEMOLOGIST</h3>
    <p>We have highly trained and experienced team of Gemologists and technicians.</p>
  </a>

  <a class="data-card">
    <h3>GLOBAL PRESENCE</h3>
    <p>Around the world GRS Reports are trusted and accepted as the standard for quality assessment.</p>
  </a>

</section>

<!-- client testimonials -->


<!-- contact form -->
<section class="get-in-touch">
  <h1 class="title">Get in touch</h1>
  <h3 style="text-align:center;">Want to share feedback or need some service? send us a request here. </h3>
  <form class="contact-form row">
    <div class="form-field col-lg-6">
      <input id="name" class="input-text js-input" type="text" required>
      <label class="label" for="name">Name</label>
    </div>
    <div class="form-field col-lg-6 ">
      <input id="email" class="input-text js-input" type="email" required>
      <label class="label" for="email">E-mail</label>
    </div>
    
    <div class="form-field col-lg-12">
      <input id="message" class="input-text js-input" type="text" required>
      <label class="label" for="message">Message</label>
    </div>
    <div class="form-field col-lg-12">
      <input class="submit-btn" type="submit" value="Submit">
    </div>
  </form>
</section>
