<!--hero image container-->
<div class="hero-container">
  <img class="hero-image">
  <h1 class="hero-text">We deliver best service</h1>
  <h2 class="hero-subtext"> ADGL is the world’s most trusted name in diamond grading and gemstones identification. </h2>  
  <button type="button" class="btn btn-primary btn-lg certificate-btn" (click)="openLicenceModal(licenceModal)"> Check Cerificates</button>
</div>

<ng-template #licenceModal let-modal>
  <div class="modal-header pt-2 pb-2 ps-3 pe-3">
    <h4 class="modal-title" id="modal-basic-title">Enter Certificate Number</h4>
    <button type="button" class="btn-close" aria-label="Close" (click)="modal.dismiss('Cross click')"></button>
  </div>
  <div class="modal-body pt-4 pb-4 ps-3 pe-3">
    <form class="input-group" #licenceForm=ngForm (ngSubmit)="getCertificate(licenceForm); modal.close('closed modal')">
      <input class="form-control" type="text" name="licenceId" [(ngModel)]="licenceId">
      <button type="submit" class="btn btn-primary">Get Certificate</button>
    </form>
  </div>
</ng-template>

<!-- Image and about us container -->
<div id="about" class="container about-us">
  <div class="row">
    <div class="col-lg-6">
      <img class="side-image" src="/assets/images/diamond1.png" alt="">
    </div>
    
    <div class="col-lg-6">
      <h1 class="about-us-title">About ADGL</h1>
      <h4>ADGL Gem Testing Lab is a Indore based Indian Gem Testing Lab Company. Started with a mission to give services to it's customers in Gems & Jewellery Industry For Diamond Certification, Gemstones Certification, Jewellery Certification. 
        <br>
        <br>
        ADGL Gem Testing Lab provides independent and expert facilities for identification and certification of coloured gemstones and its origin, treatments on Gemstones, identification of Synthetic and treated Diamonds and grading of diamonds and diamond studded jewellery to a wide clientele in the domestic and international markets, which includes dealers, jewellers, auction houses and custom departments, and connoisseurs looking for good quality gemstones, diamonds.
      </h4>
    </div>
    
  </div>
</div>

<!-- services container -->
<section id="services" class="page-contain">
  <a class="data-card">
    <img src="assets/images/card1.jpeg" alt="">
    <h3>WELL EQUIPPED LAB</h3>
    <p>Our labs are well equipped with world class equipments and latest technology.</p>
    
  </a>

  <a class="data-card">
    <img src="assets/images/card2.jpeg" alt="">
    <h3>PROFESSIONAL GEMOLOGIST</h3>
    <p>We have highly trained and experienced team of Gemologists and technicians.</p>
    
  </a>

  <a class="data-card">
    <img src="assets/images/card3.jpg" alt="">
    <h3>GLOBAL PRESENCE</h3>
    <p>Around the world ADGL Reports accepted as the standard for quality assessment.</p>
    
  </a>

</section>

<!-- client testimonials -->


<!-- contact form -->
<section class="get-in-touch" id="contact">
  <h1 class="title">Get in touch</h1>
  <h3 style="text-align:center;">Want to share feedback or need some service? send us a request here. </h3>
  <form class="contact-form row">
    <div class="form-field col-lg-6">
      <input id="name" class="input-text js-input" type="text" required>
      <label class="label" for="name">Name</label>
    </div>
    <div class="form-field col-lg-6 ">
      <input id="email" class="input-text js-input" type="email" required>
      <label class="label" for="email">E-mail</label>
    </div>
    
    <div class="form-field col-lg-12">
      <input id="message" class="input-text js-input" type="text" required>
      <label class="label" for="message">Message</label>
    </div>
    <div class="form-field col-lg-12">
      <input class="submit-btn" type="submit" value="Submit">
    </div>
  </form>
</section>
