<!--hero image container-->
<div class="hero-container">
  <img class="hero-image" src="/assets/images/download.png">
  <button class="btn btn-primary btn-lg certificate-btn"> Check Cerificates</button>
</div>

<!-- Image and about us container -->


<!-- services container -->


<!-- client testimonials -->


<!-- contact form -->
<form class="form-control contact-form">
  <div class="mb-3">
    <label for="name" class="form-label">Password</label>
    <input type="text" class="form-control" id="name">
  </div>
  <div class="mb-3">
    <label for="email" class="form-label">Email address</label>
    <input type="email" class="form-control" id="email">
  </div>
  <button type="submit" class="btn btn-primary">Submit</button>
</form>

<!-- Footer -->
