.hero-container {
  position: relative;
  height: 75vh;
  .hero-image {
    background-image: url("/assets/images/hero_image.jpg");
    background-repeat: no-repeat;
    background-size: 100% 100%;
    height: 100%;
    width: 100%;
    opacity: 1;
  }
  .certificate-btn {
    position: absolute;
    top: 55%;
    left: 50%;
    transform: translate(-50%, -50%);
  }
  
  .hero-text{
    position: absolute;
    top: 30%;
    left: 50%;
    transform: translate(-50%, -50%);
    text-align: center;
    color: #fff;
    
  }
  .hero-subtext{
    position: absolute;
    top: 40%;
    left: 50%;
    transform: translate(-50%, -50%);
    text-align: center;
    color: #fff;
  }
}
.contact-form {
  width: 50%;
  margin: 2rem auto;
}

.about-us{
  margin-top: 8rem;
}

.services {
  margin-top: 8rem;
}

.get-in-touch {
  max-width: 80%;
  margin: 50px auto;
  position: relative;
  
}
.get-in-touch .title {
  text-align: center;
  text-transform: uppercase;
  letter-spacing: 3px;
  font-size: 2.8em;
  line-height: 48px;
  padding-bottom: 48px;
  color: #fcba36;
  background: #fcba36;
  background: -moz-linear-gradient(left,#f4524d  0%,#5543ca 100%) !important;
  -webkit-background-clip: text !important;
  -webkit-text-fill-color: transparent !important;
}

.contact-form .form-field {
  position: relative;
  margin: 32px 0;
}
.contact-form .input-text {
  display: block;
  width: 100%;
  height: 36px;
  border-width: 0 0 2px 0;
  border-color: #000000;
  font-size: 18px;
  line-height: 26px;
  font-weight: 400;
}
.contact-form .input-text:focus {
  outline: none;
}
.contact-form .input-text:focus + .label,
.contact-form .input-text.not-empty + .label {
  -webkit-transform: translateY(-24px);
  transform: translateY(-24px);
}
.contact-form .label {
  position: absolute;
  left: 20px;
  bottom: 11px;
  font-size: 18px;
  line-height: 26px;
  font-weight: 400;
  color: #000000;
  cursor: text;
  transition: -webkit-transform .2s ease-in-out;
  transition: transform .2s ease-in-out;
  transition: transform .2s ease-in-out, 
  -webkit-transform .2s ease-in-out;
}
.contact-form .submit-btn {
  display: inline-block;
  background-color: #000;
  color: #fff;
  text-transform: uppercase;
  letter-spacing: 2px;
  font-size: 16px;
  padding: 8px 16px;
  border: none;
  width:200px;
  cursor: pointer;
}

.side-image{
  height:100%;
  width: 100%;
}

//service cards

.page-contain {
  display: flex;
  min-height: 70vh;
  align-items: center;
  flex-wrap: wrap;
  justify-content: center;
  border: .75em solid white;
  padding: 2em;
  font-family: 'Open Sans', sans-serif;
}

.data-card {
  display: flex;
  flex-direction: column;
  max-width: 20.75em;
  min-height: 20.75em;
  overflow: hidden;
  border: solid #fcba36;
  border-radius: .5em;
  text-decoration: none;
  background: white;
  margin: 1em;
  padding: 2em 1.75em;
  box-shadow: 0 1.5em 2.5em -.5em rgba(#000000, .1);
  transition: transform .45s ease, background .45s ease;
  
  img {
    height: 240px;
    width: 100%;
    margin-bottom: 1rem;
    border-radius: 5px;
  }
  
  h3 {
    color: #2E3C40;
    font-size: 1.7em;
    font-weight: 600;
    line-height: 1;
    padding-bottom: .2em;
    margin: 0 0 0.142857143em;
    border-bottom: 2px solid #fcba36;
    transition: color .45s ease, border .45s ease;
  }
  
  h4 {
    color: #627084;
    text-transform: uppercase;
    font-size: 1.125em;
    font-weight: 700;
    line-height: 1;
    letter-spacing: 0.1em;
    margin: 0 0 1.777777778em;
    transition: color .45s ease;
  }
  
  p {
    opacity: 0;
    color: #FFFFFF;
    font-weight: 600;
    line-height: 1.8;
    margin: 0 0 1.25em;
    transform: translateY(-1em);
    transition: opacity .45s ease, transform .5s ease;
  }
  
  .link-text {
    display: block;
    color: #753BBD;
    font-size: 1.125em;
    font-weight: 600;
    line-height: 1.2;
    margin: auto 0 0;
    transition: color .45s ease;
    
    svg {
      margin-left: .5em;
      transition: transform .6s ease;
      
      path {
        transition: fill .45s ease;
      }
    }
  }
  
  &:hover {
    background: #fcba36;
    transform: scale(1.02);
    
    h3 {
      color: #FFFFFF;
      border-bottom-color: #fcba36;
    }
    
    h4 {
      color: #FFFFFF;
    }
    
    p {
      opacity: 1;
      transform: none;
    }
    
    .link-text {
      color: #FFFFFF;
      
      svg {
        animation: point 1.25s infinite alternate;
        
        path {
          fill: #FFFFFF;
        }
      }
    }
  }
}

//about us title//

.about-us-title{
  color:#fcba36;
}

@keyframes point {
  0% {
    transform: translateX(0);
  }
  100% {
    transform: translateX(.125em);
  }
}

@media screen and (min-width: 300px) and (max-width: 900px) {
  .data-card{
    background: #fcba36;
    
    img{
      height: 175px;
      width: 175px;
    }
    
    h3{
      font-size: 1.2em;
    }
    
    p {
      opacity: 1;
      transform: none;
    }
  }
  
  .contact-form {
    width: 100%;
  }
  
  .hero-container{
    
    .certificate-btn {
      position: absolute;
      top: 75%;
      left: 50%;
      transform: translate(-50%, -50%);
    }
    
    .hero-subtext{
      position: absolute;
      
      text-align: center;
      left: 0;
      transform: translate(0%, 0%);
    }
  }
}