.hero-container {
  position: relative;
  height: 30vh;
  .hero-image {
    height: 100%;
    width: 100%;
    opacity: 0.5;
  }
  .certificate-btn {
    position: absolute;
    top: 37%;
    left: 45%;
  }
}
.contact-form {
  width: 50%;
  margin: 2rem auto;
}

.services {
  margin-top:20rem;
}
[name="licenceId"] {
  width: 69%;
}
