.header {
  display: flex;
  height: 4.5rem;
  justify-content: space-between;
  border-bottom: 1px solid gray;
  align-items: center;
  ul {
    margin-bottom: 0.5rem;
  }
  .left-header-items {
    display: flex;
  }
  .right-header-items {
    display: flex;
  }
  .header-items {
    list-style: none;
    display: flex;
    margin-right: 1rem;
    padding: 1rem;

    a{
      text-decoration: none;
    }
  }

}




