<header class=" header">
  <nav class="navbar">
    <a class="nav-logo">
      ADGL
    </a>
    <ul class="nav-menu" #navmenu>
      <li class="nav-item">
          <a href="#" class="nav-link">home</a>
      </li>
      <li class="nav-item">
          <a href="#" class="nav-link">About us</a>
      </li>
      <li class="nav-item">
          <a href="#" class="nav-link">Services</a>
      </li>
      <li class="nav-item">
          <a href="#" class="nav-link">Contact</a>
      </li>
    </ul>
    <div class="hamburger" (click)="toggleMenu($event)" #hamburger>
      <span class="bar"></span>
      <span class="bar"></span>
      <span class="bar"></span>
    </div>
  </nav> 
</header>
