<!-- Remove the container if you want to extend the Footer to full width. -->
<div class="container my-5">
  
  <footer class="text-white text-center text-lg-start bg-dark">
    <!-- Grid container -->
    <div class="container p-4">
      <!--Grid row-->
      <div class="row mt-4">
        <!--Grid column-->
        <div class="col-lg-6 col-md-12 mb-4 mb-md-0">
          <h5 class="text-uppercase mb-4">About ADGL</h5>
          
          <p>
            ADGL Gem Testing Lab is a Indore based Indian Gem Testing Lab Company. Started with a mission to give services to it's customers in Gems & Jewellery Industry For Diamond Certification, Gemstones Certification, Jewellery Certification.
          </p>
          
          
        </div>
        <!--Grid column-->
        
        <!--Grid column-->
        <div class="col-lg-2 col-md-2 mb-3 mb-md-0">
          <h5 class="text-uppercase mb-4">Follow Us</h5>
          
          <div class="mt-4 social-btn-container">
            <!-- Facebook -->
            <a type="button" class="btn btn-floating btn-light btn-lg"><i class="fa-brands fa-facebook"></i></a>
            <!-- Dribbble -->
            <a type="button" class="btn btn-floating btn-light btn-lg"><i class="fab fa-instagram"></i></a>
            <!-- Twitter -->
            
            <!-- Google + -->
           
            <!-- Linkedin -->
          </div>
        </div>
        <!--Grid column-->

        <div class="col-lg-4 col-md-4 mb-3 mb-md-0">
          <h5 class="text-uppercase mb-4">Contact us:</h5>
          <table>
            <tr>
              <td class="w-30">Call : </td>
              <td>+91 9399886652</td>
            </tr>
            <tr>
              <td class="w-30">WhatsApp :</td>
              <td>+91 9826505757</td>
            </tr>
            <tr>
              <td valign="top" class="w-30">Address :</td>
              <td>44, Bada Sarafa, 2nd Floor, Jagdish Bhawan, Opp. police chowki, Indore-452002</td>
            </tr>
          </table>
        </div>
      </div>
      <!--Grid row-->
    </div>
    <!-- Grid container -->
    
    <!-- Copyright -->
    <div class="text-center p-3" style="background-color: rgba(0, 0, 0, 0.2);">
      © 2022 Copyright:
      <a class="text-white" href="https://lifecraftstudio.com/">Lifecraft Studio Pvt. Ltd.</a>
    </div>
    <!-- Copyright -->
  </footer>
  
</div>
<!-- End of .container -->