<form [formGroup] = editForm class="form-control container">
  <div class="mb-3 row">
    <label class="col-sm-3">Name</label>
    <div class="col-sm-9">
      <input type="text" class="form-control col-sm-9" formControlName="name">
    </div>
  </div>
  <div class="mb-3 row">
    <label class="col-sm-3">file Name</label>
    <div class="col-sm-9">
      <input type="text" class="form-control col-sm-9" formControlName="fileName">
    </div>
  </div>
  <div class="mb-3 row">
    <label class="col-sm-3">Licence Id</label>
    <div class="col-sm-9">
      <input type="text" class="form-control" formControlName="licenceId">
    </div>
  </div>
  <div>
    <button type="submit" class="btn btn-success">Done</button>
    <button type="button" class="btn btn-danger">Cancel</button>
  </div>
</form>
